body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.good{
    color: lightgreen;
}
.natural{
    color: gray;
}
.bad{
    color: red;
}
#loader {
    display: none;
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #9034db; 
    border-bottom: 8px solid #9034db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-top: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
